@charset "UTF-8";
/*
$color-scheme : (
    mainColor : $mainColor,
    secondColor : $secondColor,
    thirdColor : $secondColor,
    fourthColor : $fourthColor
)
*/
/*
$color-scheme : (
    mainColor : $mainColor,
    secondColor : $secondColor,
    thirdColor : $secondColor,
    fourthColor : $fourthColor
)
*/
.custom-button {
  position: relative;
  height: 60px;
  width: 165px;
  background-color: #10D168;
  border-radius: 20px;
  border-style: none;
  font-family: Lato;
  font-size: 18px;
  color: white;
  transition: border-color 0.5s ease-in-out, box-shadow 0.15s ease-in-out, background-color 0.2s ease-in-out;
}
.custom-button a {
  position: absolute;
  text-decoration: false;
  color: white;
}

.custom-button:hover {
  cursor: pointer;
  color: #0BA34F;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #0BA34F;
}

.custom-button:active {
  cursor: default;
  background-color: #00652D;
  color: white;
  border-width: 4px;
  border-color: #0BA34F;
}

.header {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Lato;
  width: 100%;
  height: 60px;
  flex-direction: none;
  margin-top: 40px;
}

.header__a {
  text-decoration: none;
  font-size: 24px;
  color: white;
}

.header__nav {
  margin-right: 40px;
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.reverse-color {
  margin-top: 0px;
  position: sticky;
  text-decoration: none;
  background-color: #ECF1ED;
  box-shadow: 2px 0px 4px gray;
}
.reverse-color .header__a {
  color: black;
}

.custom-input {
  outline: 0;
  display: block;
  height: calc(2.25rem + 2px);
  width: 200px;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  font-family: Lato;
  text-decoration: none;
  font-size: 1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-input::placeholder {
  font-size: 1rem;
  font-family: Lato;
  opacity: 0.8;
}

.custom-input:focus {
  box-shadow: 1px 2px 6px gray;
}

.custom-input:valid {
  box-shadow: 2px 2px 6px green;
  color: #0B3900;
  border: 1px solid green;
}

.custom-input:invalid {
  box-shadow: 2px 2px 6px red;
  color: #F35A5A;
  border: 1px solid red;
}

.rating-area {
  overflow: hidden;
  width: 210px;
  margin: 0 auto;
}

.rating-area:not(:checked) > input {
  display: none;
}

.rating-area:not(:checked) > label {
  float: right;
  width: 42px;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked) > label:before {
  content: "★";
}

.rating-area > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: gold;
}

.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}

.rate-area > label:active {
  position: relative;
}

/*
$color-scheme : (
    mainColor : $mainColor,
    secondColor : $secondColor,
    thirdColor : $secondColor,
    fourthColor : $fourthColor
)
*/
*::-webkit-scrollbar {
  width: 12px;
  /* ширина scrollbar */
  transition: 0.15s background-color ease-in-out;
}

*::-webkit-scrollbar-track {
  background: #ECFFF1;
  /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  background-color: #068137;
  /* цвет плашки */
  border-radius: 20px;
  /* закругления плашки */
  border: 1px solid #73FAB0;
  /* padding вокруг плашки */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #0c9743;
}

.carousel > input[type=radio]:nth-child(5):checked ~ .carousel__next > label:nth-child(1), .carousel > input[type=radio]:nth-child(5):checked ~ .carousel__prev > label:nth-child(4), .carousel > input[type=radio]:nth-child(4):checked ~ .carousel__next > label:nth-child(5), .carousel > input[type=radio]:nth-child(4):checked ~ .carousel__prev > label:nth-child(3), .carousel > input[type=radio]:nth-child(3):checked ~ .carousel__next > label:nth-child(4), .carousel > input[type=radio]:nth-child(3):checked ~ .carousel__prev > label:nth-child(2), .carousel > input[type=radio]:nth-child(2):checked ~ .carousel__next > label:nth-child(3), .carousel > input[type=radio]:nth-child(2):checked ~ .carousel__prev > label:nth-child(1), .carousel > input[type=radio]:nth-child(1):checked ~ .carousel__next > label:nth-child(2), .carousel > input[type=radio]:nth-child(1):checked ~ .carousel__prev > label:nth-child(5) {
  opacity: 1 !important;
  z-index: 3;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background: #fcfcfc;
  margin: 0;
}

.container {
  width: 900px;
  min-width: 900px;
  margin: 50px auto;
}

.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.carousel > input[type=radio] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
}
.carousel > input[type=radio]:checked ~ .carousel__items .carousel__item,
.carousel > input[type=radio]:checked ~ .carousel__prev > label,
.carousel > input[type=radio]:checked ~ .carousel__next > label {
  opacity: 0;
}
.carousel > input[type=radio]:nth-child(1):checked ~ .carousel__items .carousel__item:nth-child(1) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(1):checked ~ .carousel__nav > label:nth-child(1) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(2):checked ~ .carousel__items .carousel__item:nth-child(2) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(2):checked ~ .carousel__nav > label:nth-child(2) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(3):checked ~ .carousel__items .carousel__item:nth-child(3) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(3):checked ~ .carousel__nav > label:nth-child(3) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(4):checked ~ .carousel__items .carousel__item:nth-child(4) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(4):checked ~ .carousel__nav > label:nth-child(4) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(5):checked ~ .carousel__items .carousel__item:nth-child(5) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(5):checked ~ .carousel__nav > label:nth-child(5) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.carousel__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: 600px;
  position: relative;
}
.carousel__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}
.carousel__item img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.carousel__prev > label, .carousel__next > label {
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  opacity: 0;
  z-index: 2;
}
.carousel__prev > label:hover, .carousel__prev > label:focus, .carousel__next > label:hover, .carousel__next > label:focus {
  opacity: 0.5 !important;
}
.carousel__prev > label:before, .carousel__prev > label:after, .carousel__next > label:before, .carousel__next > label:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
}
.carousel__prev > label:before, .carousel__next > label:before {
  background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%), linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
  width: 60%;
  height: 60%;
  top: 20%;
}
.carousel__prev > label {
  left: 2%;
}
.carousel__prev > label:before {
  left: 35%;
  top: 20%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.carousel__next > label {
  right: 2%;
}
.carousel__next > label:before {
  left: 10%;
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}
.carousel__nav {
  position: absolute;
  bottom: 3%;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 3;
}
.carousel__nav > label {
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 0.125%;
  width: 20px;
  height: 20px;
}

.dropdown ul {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
  position: relative;
}
.dropdown ul ul {
  display: none;
  top: 100%;
  position: relative;
}
.dropdown ul ul li {
  min-width: 170px;
  position: relative;
  border-bottom: opx solid gray;
}
.dropdown ul li {
  border-bottom: 1px solid gray;
}
.dropdown li:hover {
  background-color: #ECF1ED;
}

.dropdown__key:checked ~ ul {
  display: inherit;
}

.custom-checkbox,
.custom-checkbox[type=checkbox]:checked,
.custom-checkbox[type=checkbox]:not(:checked) {
  position: absolute;
  left: -9999px;
}

custom-checkbox[type=checkbox]:checked + label,
custom-checkbox[type=checkbox]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

/*
$color-scheme : (
    mainColor : $mainColor,
    secondColor : $secondColor,
    thirdColor : $secondColor,
    fourthColor : $fourthColor
)
*/
.preview {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 900px;
  width: 100%;
  font-family: Lato;
  color: white;
}

.preview__container {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 10px 1fr 1fr 1fr;
  width: 50%;
  height: 900px;
  margin: auto;
}
.preview__container .preview__h1 {
  grid-row-start: 3;
  grid-row-end: 3;
  width: 80%;
  font-size: 40px;
  font-weight: bold;
}
.preview__container .preview__line {
  grid-row-start: 4;
  grid-row-end: 4;
  width: 50%;
}
.preview__container .preview__text {
  grid-row-start: 5;
  grid-row-end: 5;
}
.preview__container .preview__button {
  grid-row-start: 6;
  grid-row-end: 6;
}

.preview__image {
  position: absolute;
  display: inline-block;
  height: 900px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: -1;
}
.preview__image img {
  object-fit: cover;
  position: absolute;
  height: 900px;
  width: 100%;
  z-index: -1;
}

/*
$color-scheme : (
    mainColor : $mainColor,
    secondColor : $secondColor,
    thirdColor : $secondColor,
    fourthColor : $fourthColor
)
*/
.head {
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 40px 1fr;
  font-family: Lato;
}

.head__vl {
  grid-row-start: 1;
  background-color: rgba(245, 255, 248, 0.5);
  border-left: 3px solid #12D614;
}

.head__text {
  grid-column-start: 2;
  font-size: 28px;
  background-color: rgba(245, 255, 248, 0.5);
}

.head__hl {
  margin-top: 5px;
  width: 15%;
  border-top: 1px solid black;
  grid-row: 2;
  grid-column: 2;
}

/*
$color-scheme : (
    mainColor : $mainColor,
    secondColor : $secondColor,
    thirdColor : $secondColor,
    fourthColor : $fourthColor
)
*/
.tourcard {
  width: 300px;
  background-color: #ECF1ED;
  border-radius: 2%;
}
.tourcard .tourcard__description {
  margin-top: 20px;
  margin-bottom: 20px;
}
.tourcard .tourcard__description .tourcard__head {
  color: #159800;
}
.tourcard .tourcard__description .tourcard__text {
  width: 90%;
  height: 80px;
  box-shadow: 2px 3px 6px gray;
  background-color: #F1ECEC;
  margin: auto;
}

.tourcard__preview {
  position: relative;
  height: 200px;
  width: 300px;
}
.tourcard__preview img {
  position: absolute;
  border-radius: 2%;
}

.tourcard__button {
  width: 90%;
  margin: auto;
  margin-bottom: 5px;
}

.tourcard__preview:after {
  content: "";
  position: absolute;
  border-radius: 2%;
  height: 200px;
  width: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.catalog {
  display: flex;
  gap: 12px;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*
$color-scheme : (
    mainColor : $mainColor,
    secondColor : $secondColor,
    thirdColor : $secondColor,
    fourthColor : $fourthColor
)
*/
.fastregistration {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  background-color: #ECF1ED;
}

.fastregistration__head {
  padding-top: 20px;
}

.fastregistration__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

/*
$color-scheme : (
    mainColor : $mainColor,
    secondColor : $secondColor,
    thirdColor : $secondColor,
    fourthColor : $fourthColor
)
*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #373535;
  font-family: Lato;
  width: 100%;
  padding-left: -20px;
  padding-right: -20px;
}

.footer__logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  gap: 5px;
  width: 20%;
}

.footer__refers {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: stretch;
  flex-wrap: wrap;
}
.footer__refers .footer__navigation {
  color: white;
}
.footer__refers .footer__navigation ul {
  list-style-type: none;
}
.footer__refers .footer__navigation a {
  text-decoration: none;
  color: white;
}

/*
$color-scheme : (
    mainColor : $mainColor,
    secondColor : $secondColor,
    thirdColor : $secondColor,
    fourthColor : $fourthColor
)
*/
.comment {
  background-color: #ECF1ED;
  width: 80%;
  border-radius: 3%;
  padding-bottom: 10px;
}

.comment__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.comment__info img {
  width: 60px;
  height: 60px;
}

.comment__userinfo .comment__username {
  border-bottom: 1px solid gray;
  color: blue;
}
.comment__userinfo .comment__useremail {
  color: gray;
  opacity: 0.8;
  line-height: 30px;
}
.comment__userinfo .comment__useremail ul {
  list-style: none;
}

.comment__rateanddate .comment__date {
  font-size: 12px;
  color: gray;
  border-bottom: 1px solid black;
  position: relative;
  margin: auto;
}

.comment__text {
  display: inline-block;
  width: 90%;
  margin: auto;
  padding: 10px;
  box-shadow: 0px 0px 2px #0EBE5D;
  border-radius: 3%;
  color: black;
  font-size: 24px;
}

/*
$color-scheme : (
    mainColor : $mainColor,
    secondColor : $secondColor,
    thirdColor : $secondColor,
    fourthColor : $fourthColor
)
*/
.comment-section {
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  border: 1px solid #0DA050;
  border-radius: 0.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  height: 600px;
  margin: auto;
}

/*
$color-scheme : (
    mainColor : $mainColor,
    secondColor : $secondColor,
    thirdColor : $secondColor,
    fourthColor : $fourthColor
)
*/
.comment-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 300px;
  background-color: #ECF1ED;
  border-radius: 1em;
  padding: 20px;
  margin: auto;
}

.comment-field__input {
  padding: 5px;
  border-radius: 1em;
  height: 100%;
  width: 60%;
}
.comment-field__input textarea {
  height: 100%;
  width: 100%;
}

.comment-field__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

/*
$color-scheme : (
    mainColor : $mainColor,
    secondColor : $secondColor,
    thirdColor : $secondColor,
    fourthColor : $fourthColor
)
*/
.cabinet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ECF1ED;
  box-shadow: 0px 0px 4px gray;
  width: 80%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.cabinet__photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 50%;
  min-width: 320px;
}
.cabinet__photo .cabinet__image {
  display: inline-block;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}
.cabinet__photo .cabinet__image img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.cabinet__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  width: 50%;
}
.cabinet__info .cabinet__item {
  width: 49%;
  line-height: 20px;
}
.cabinet__info .cabinet__item label {
  color: gray;
  padding-top: 1em;
}
.cabinet__info .cabinet__item div {
  color: black;
  border-bottom: 1px solid #242222;
  width: 90%;
}

.cabinet__active-tours-head {
  width: 100%;
  margin-top: 20px;
}

.cabinet__active-tours {
  display: inline-flex;
  gap: 50px;
  padding: 20px;
  overflow-y: scroll;
  width: 90%;
  border-radius: 2%;
  box-shadow: 0px 0px 4px #0EBE5D;
}

/*
$color-scheme : (
    mainColor : $mainColor,
    secondColor : $secondColor,
    thirdColor : $secondColor,
    fourthColor : $fourthColor
)
*/
.travel-plan {
  width: 80%;
  background-color: #ECF1ED;
  margin: auto;
  border-radius: 2%;
}

.travel-plan__head {
  margin-top: 20px;
}

.travel-plan__container ul ul li {
  list-style-image: url(../../images/location-pin.png);
  margin-left: 20px;
}

/*
$color-scheme : (
    mainColor : $mainColor,
    secondColor : $secondColor,
    thirdColor : $secondColor,
    fourthColor : $fourthColor
)
*/
.item-plan {
  width: 70%;
  background-color: #ECF1ED;
  margin: auto;
}
.item-plan .item-plan__head {
  margin-top: 10px;
}
.item-plan .item-plan__container ul {
  list-style-image: url(../../images/portfolio.png);
}

/*
$color-scheme : (
    mainColor : $mainColor,
    secondColor : $secondColor,
    thirdColor : $secondColor,
    fourthColor : $fourthColor
)
*/
.guide {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: auto;
  width: 80%;
  padding: 20px;
  border-radius: 2em;
  background-color: #ECF1ED;
}

.guide__photo {
  display: inline-block;
  width: 40%;
}
.guide__photo img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.guide__profile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  width: 55%;
}
.guide__profile .guide__nickname {
  color: blue;
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.guide__info {
  width: 100%;
}
.guide__info .guide__text {
  box-shadow: 0px 0px 4px #0EBE5D;
}

.price-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  padding: 20px;
  margin: auto;
}

.price-section__full {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price-section__full .price-section__variant {
  border-bottom: 1px solid black;
}
.price-section__full ul {
  list-style-image: url(../../images/dollar.png);
}

.price-section__details ul {
  margin-left: 10px;
}

/*
$color-scheme : (
    mainColor : $mainColor,
    secondColor : $secondColor,
    thirdColor : $secondColor,
    fourthColor : $fourthColor
)
*/
.search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #ECF1ED;
  min-height: 80px;
}
.search input {
  width: 50%;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  gap: 5px;
}
.search-container .search__catalog {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.search-container .search__catalog .catalog {
  padding: 20px;
  box-shadow: 1px 1px 3px gray;
}
.search-container .search__catalog .search__next {
  box-shadow: 0px 0px 2px gray;
  font-size: 24px;
  text-align: center;
}

.filter {
  background-color: #ECF1ED;
  box-shadow: 0px 0px 2px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.filter__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}
.filter__item .filter__name {
  color: black;
  text-align: center;
}
.filter__item input {
  width: 50%;
}
.filter__item label {
  display: inline-block;
}
.filter__item .flex {
  width: 50%;
  justify-content: space-between;
}
.filter__item .flex div {
  width: 40px;
}

.filter__result {
  background-color: #DBF1E0;
  text-align: center;
}

body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

section {
  margin-top: 60px;
}

.flex {
  display: flex;
}

textarea {
  resize: none;
}

/*# sourceMappingURL=style.css.map */
