@import "../consts/colors";


.cabinet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background-color: $spaceColor;
    box-shadow: 0px 0px 4px gray;
    width: 80%;
    padding: 20px;


    margin-left: auto;
    margin-right: auto;
}


.cabinet__photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;


    width: 50%;
    min-width: 320px;

    .cabinet__image {
        display: inline-block;
        width: 80%;
        height: 80%;
        border-radius: 50%;

        img {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

}

.cabinet__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;

    
    width: 50%;
    
    .cabinet__item {
        width: 49%;
        line-height: 20px;
        label {
            color: gray;
            padding-top: 1em;
        }
        
        div {
            color: black;
            border-bottom: 1px solid rgb(36, 34, 34);
            width: 90%;
        }
    }

}

.cabinet__active-tours-head {

    width: 100%;
    margin-top: 20px;

}

.cabinet__active-tours {

    display: inline-flex;
    gap: 50px;

    padding: 20px;
    overflow-y: scroll;

    width: 90%;
    border-radius: 2%;
    box-shadow: 0px 0px 4px $fourthColor;

}