@import "../consts/colors";

.comment-section {
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;

    border: 1px solid $thirdColor;
    border-radius: 0.5em;

    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    height: 600px;
    margin:auto;
}