@import "../consts/colors";

.comment-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    width: 80%;
    height: 300px;
    background-color: $spaceColor;
    border-radius: 1em;
    padding: 20px;
    margin: auto;
}


.comment-field__input{
    padding: 5px;
    border-radius: 1em;
    height: 100%;
    width: 60%;
    textarea {
        height: 100%;
        width: 100%;
    }
}


.comment-field__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}