@import "../consts/colors";

.comment {


    background-color: $spaceColor;
    width: 80%;
    border-radius: 3%;

    padding-bottom: 10px;
}

.comment__info {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    img {
        width: 60px;
        height: 60px;
    }
}

.comment__userinfo {
    .comment__username {
        border-bottom: 1px solid gray;
        color: blue;
        
    }
    .comment__useremail {
        color: gray;
        opacity: 0.8;
        line-height: 30px;
        ul {
            list-style: none;
            //list-style-image: url(../../images/Ðµmailicon.png);
        }
    
    }
}

.comment__rateanddate {
    .comment__date {
        font-size: 12px;
        color: gray;
        border-bottom: 1px solid black;
        position: relative;
        margin:auto;
    }

}



.comment__text {
    display: inline-block;
    width: 90%;
    margin:auto;
    padding: 10px;

    box-shadow: 0px 0px 2px $fourthColor;
    border-radius: 3%;

    color: black;
    font-size: 24px;
}




