@import "../consts/colors";

.create-tour {
    display: flex;
    flex-direction: column;

    background-color: $spaceColor;
    width:95%;
    margin:auto;
}

.create-tour__head {
    width: 100%;

    border-bottom: 1px solid gray;
    text-align: center;

    font-size: 24px;
}

.create-tour__fileupload {

    text-align: center;
    background-color: #DBF1E0;

}


.create-tour__march {
    display: flex;

    padding: 20px;

    .create-tour__places {
        width: 60%;
        margin:auto;
        border-right: 1px solid black;


        ul {
            list-style-image: url(../../images/location-pin.png);
            
        }
    }

    .create-tour__info {
        width: 40%;

        line-height: 20px;
        padding: 20px;
        box-shadow: 0px 0px 3px gray;
        ul {
            list-style-type: none;
        }
    }


}

.create-tour__places-head {
    margin-top: 5px;
    border-bottom: 1px solid black;
}


.map-api {
    display: inline-block;
    width: 100%;
    img {
        width:100%;
        
    }
}



.create-tour__description {
    
    width: 50%;
    padding: 20px;
    background-color: $spaceColor;

    .create-tour__description-head {

        border-bottom: 1px solid black;
    }
    .create-tour__description-text {
        box-sizing: border-box;
        box-shadow: 1px 1px 3px gray;
        padding: 10px;

        textarea {
            height: 200px;
            width: 100%;
        }
    }

}


.create-tour__items {
    width:50%;
    padding: 20px;
    background-color: $spaceColor;
    .create-tour__items-head {
        border-bottom: 1px solid black;
    }

    .create-tour__items-list {
        box-shadow: 1px 1px 3px gray;
        ul {
            list-style-image: url(../../images/portfolio.png);
        }

        input {
            width: 90%;
        }
    }
}