@import "../consts/colors";

.fastregistration {
    display: flex;
    flex-direction: column;

    margin:auto;
    width: 80%;
    background-color: $spaceColor;

    .fastregistration__head{
        padding-top: 20px;
    }
    .fastregistration__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 5px;
    }
}