
.filter {

    background-color: #ECF1ED;
    box-shadow: 0px 0px 2px;
    display: flex;
    flex-direction: column;
    gap: 30px;


}

.filter__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;

    margin:auto;

    .filter__name {
        color: black;
        text-align: center;
    }
    
    input {
        width: 50%;
    }

    label {
        display: inline-block;
    }
    .flex {
        width: 50%;
        justify-content: space-between;
        div {
            width: 40px;
        }
    }

}

.filter__result {
    background-color: #DBF1E0;
    text-align: center;
}
