

.price-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width:80%;
    padding: 20px;
    margin: auto;
}


.price-section__full{

    display: flex;
    flex-direction: column;
    align-items: center;

    .price-section__variant{
        border-bottom: 1px solid black;
    }

    ul {
        list-style-image: url(../../images/dollar.png);
    }

}

.price-section__details{
    ul {
        margin-left: 10px;
    }
}