@import "../consts/colors";
@import "../consts/typography";

.head {
    width:100%;
    height: 60px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 40px 1fr;
    font-family: $main-font;
}

.head__vl {
    grid-row-start: 1;
    
    background-color: $headColor;

    border-left: 3px solid #12D614;

}
.head__text {
    grid-column-start: 2;
    font-size: 28px;
    background-color: $headColor;
}
.head__hl {
    margin-top:5px;
    width: 15%;
    border-top: 1px solid black;
    grid-row: 2;
    grid-column: 2;
}