
@import "../consts/colors";

.tourcard {
    width: 300px;
    background-color: $spaceColor;
    border-radius: 2%;

    .tourcard__description {

        margin-top: 20px;
        margin-bottom: 20px;

        .tourcard__head {
            color: $cardheadColor; 
        }
        .tourcard__text {
            width: 90%;
            height: 80px;
           
            box-shadow: 2px 3px 6px gray;
            background-color: #F1ECEC;
            
            margin:auto;
        }
    }
    
}

.tourcard__preview {
    position: relative;
    height: 200px;
    width: 300px;     
    img {
        position: absolute;
        border-radius: 2%; 
    }
}

.tourcard__button {
    width:90%;
    margin:auto;
    margin-bottom: 5px;
}

.tourcard__preview:after{
    content:"";
    position: absolute;
    border-radius: 2%; 
    height: 200px;
    width: 300px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
}