$mainColor : #10D168 ;
$secondColor : #77C79B ;
$thirdColor : #0DA050 ;
$fourthColor : #0EBE5D;
$spaceColor : #ECF1ED;

$buttonHoverColor : #0BA34F;
$buttonActiveColor : #00652D;

$headColor : rgba(245,255,248,0.5);//#F5FFF8;

$cardheadColor : #159800;

$footerColor : #373535;

/*
$color-scheme : (
    mainColor : $mainColor,
    secondColor : $secondColor,
    thirdColor : $secondColor,
    fourthColor : $fourthColor
)
*/