@import ".././consts/typography";

.header {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $main-font;
    width: 100%;
    height: 60px;
    flex-direction: none;
    margin-top: 40px;
    
}

.header__a {
    text-decoration: none;
    font-size: 24px;
    color: white;
}

.header__nav {
    margin-right: 40px;
    display: flex;
    justify-content: space-around;
    width: 60%;
}


.reverse-color {

    margin-top: 0px;
    position: sticky;
    .header__a {
        color: black;
    }
    text-decoration: none;
    background-color: $spaceColor;
    box-shadow: 2px 0px 4px gray;
}