@import ".././consts/typography";

.header {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $main-font;
    width: 100%;
    height: 60px;
    flex-direction: none;
    margin-top: 40px;
}

.header__a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.header__nav {
    margin-right: 40px;
    display: flex;
    justify-content: space-around;
    width: 60%;
}