@import "../consts/typography";



.custom-input {
    outline: 0;
    display: block;

    height: calc(2.25rem + 2px);
    width: 200px;
    border-radius: 5px;
    border: 1px solid #bdbdbd;

    font-family: $main-font;
    text-decoration: none;
    font-size: 1rem;

    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}

.custom-input::placeholder {
    font-size: 1rem;
    font-family: $main-font;
    opacity: 0.8;
}

.custom-input:focus {
    box-shadow: 1px 2px 6px gray;
}

.custom-input:valid {
    box-shadow: 2px 2px 6px green;
    color: #0B3900;
    border: 1px solid green;
}

.custom-input:invalid {
    box-shadow: 2px 2px 6px red;
    color: #F35A5A;
    border: 1px solid red;
}