@import "./ui/buttons";
@import "./ui/header";
@import "./ui/input";
@import "./blocks/preview";
@import "./blocks/section__header";
@import "./blocks/tourcard";
@import "./blocks/catalog";
@import "./blocks/fastregister";
@import "./blocks/footer";


body {
    margin: 0;
}

section {
    margin-top: 60px;
}