@import "./consts/colors";

@import "./ui/buttons";
@import "./ui/header";
@import "./ui/input";
@import "./ui/star-rating";
@import "./ui/scrollbar";
@import "./ui/slider";
@import "./ui/dropdown";
@import "./ui/custom-checkbox";

@import "./blocks/preview";
@import "./blocks/section__header";
@import "./blocks/tourcard";
@import "./blocks/catalog";
@import "./blocks/fastregister";
@import "./blocks/footer";
@import "./blocks/comment";
@import "./blocks/comment-section";
@import "./blocks/comment-field";
@import "./blocks/cabinet";
@import "./blocks/travel-plan";
@import "./blocks/item-plan";
@import "./blocks/guide";
@import "./blocks/price-section";
@import "./blocks/search";
@import "./blocks/filter";
@import "./blocks/reg-form";


body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    margin-top: 60px;
}

.flex {
    display:flex;
}

textarea {
    resize: none;
}

